@charset "utf-8";


.root {
  display: grid;
  grid-template-columns: 8fr 3fr;
}

.main {
  padding-inline: 16px;
  padding-block: 16px;
  display: flex;
  flex-direction: column;
}

.heading {
  margin-block-end: 16px;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.side {
  flex: 0 0 auto;
}

.link {
  font-size: 24px;
  transition: transform 0.2s;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
}

.year {
  font-family: var(--glob-special-font-family);
}

.month {
  font-family: var(--glob-special-font-family);
  font-size: 32px;
}

.calendar {
  flex: 1 1 auto;
}