@charset "utf-8";


.root {
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
}

.date {
  row-gap: 2px;
  font-family: var(--glob-special-font-family);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.day-container {
  display: flex;
  align-items: baseline;
}

.year {
  font-size: 16px;
}

.month {
  font-size: 24px;
}

.slash {
  margin-inline: 0.2em;
  font-size: 24px;
}

.day {
  font-size: 30px;
}

.time {
  padding-inline-end: 0.1em;
  font-size: 48px;
  font-family: var(--glob-special-font-family);
  font-style: italic;
  color: var(--time-color);
  white-space: nowrap;
}

.list {
  margin-block-start: 16px;
  row-gap: 8px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
}

.loading {
  font-size: 32px;
  color: rgba(white, 0.5);
}

.form {
  margin-block-start: 16px;
  padding-block-start: 16px;
  border-top: 1px solid var(--glob-normal-border-color);
  flex: 0 0 auto;
}