@charset "utf-8";

@use "sass:math" as *;


.root {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform var(--glob-minimal-transition-duration);
  &:hover {
    transform: scale(1.1);
  }
}

.inner {
  column-gap: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
