@charset "utf-8";


.root {
  width: 2.75rem;
  margin-inline-end: 0.4em;
  padding-inline-end: 0.03em;
  letter-spacing: -0.03em;
  font-family: var(--glob-special-font-family);
  font-style: italic;
  background-color: oklch(from var(--glob-normal-background-color) l c h / 0.5);
  display: inline-block;
  text-align: center;
  flex: 0 0 auto;
}

.project {
  font-size: 75%;
}