@charset "utf-8";


.root {
  &[data-alert] {
    --time-color: var(--glob-red-text-color);
    --background-color: var(--glob-normal-background-color);
    --border-color: var(--glob-normal-border-color);
  }
  &[data-now] {
    --time-color: var(--glob-normal-text-color);
    --background-color: var(--glob-blue-background-color);
    --border-color: var(--glob-blue-border-color);
  }
  &:not([data-alert]):not([data-now]) {
    --time-color: var(--glob-normal-text-color);
    --background-color: var(--glob-normal-background-color);
    --border-color: var(--glob-normal-border-color);
  }
}

.root {
  padding-block: 8px;
  padding-inline: 8px;
  border: solid 1px var(--border-color);
  display: flex;
  flex-direction: column;
  &[data-off] {
    opacity: 0.5;
  }
  &:not([data-off]) {
    background-color: oklch(from var(--background-color) l c h / 0.2);
    transition: background-color var(--glob-minimal-transition-duration), transform var(--glob-minimal-transition-duration);
    cursor: pointer;    
    &:hover {
      background-color: oklch(from var(--background-color) l c h / 0.5);
      transform: scale(1.05);
    }
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
}  

.date {
  font-size: 16px;
  font-family: var(--glob-special-font-family);
  white-space: nowrap;
}

.time {
  padding-inline-end: 0.1em;
  font-size: 32px;
  font-family: var(--glob-special-font-family);
  font-style: italic;
  color: var(--time-color);
  white-space: nowrap;
}

.list {
  margin-block-start: 6px;
  row-gap: 4px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
}

.item {
  display: flex;
  flex: 0 0 auto;
}

.item-icon {
  margin-inline-end: 0.25em;
  color: oklch(from currentcolor l c h / 0.5);
}

.item-name {
  word-break: break-all;
}