@charset "utf-8";


.root {
  &[data-alert] {
    --background-color: var(--glob-red-background-color);
    --border-color: var(--glob-red-border-color);
  }
  &[data-now] {
    --background-color: var(--glob-blue-background-color);
    --border-color: var(--glob-blue-border-color);
  }
  &:not([data-alert]):not([data-now]) {
    --background-color: var(--glob-normal-background-color);
    --border-color: var(--glob-normal-border-color);
  }
}

.root {
  padding-block: 8px;
  padding-inline: 8px;
  border: solid 1px var(--border-color);
  display: flex;
  flex-direction: column;
  &[data-off] {
    opacity: 0.5;
  }
  &:not([data-off]) {
    background-color: oklch(from var(--background-color) l c h / 0.2);
    transition: background-color 0.2s, transform 0.2s;
    cursor: pointer;    
    &:hover {
      background-color: oklch(from var(--background-color) l c h / 0.5);
      transform: scale(1.05);
    }
  }
}

.heading {
  display: flex;
  justify-content: space-between;
}  

.day {
  font-size: 16px;
  font-family: var(--glob-special-font-family);
  white-space: nowrap;
}

.time {
  padding-inline-end: 0.1em;
  font-size: 32px;
  font-family: var(--glob-special-font-family);
  font-style: italic;
  white-space: nowrap;
}
