@charset "utf-8";


.digit {
  width: 0.53em;
  display: inline-block;
  text-align: center;
}

.colon {
  margin-inline: 0.05em;
  display: inline-block;
  text-align: center;
  translate: 0.04em -0.1em;
}